# IDE files
.idea/
.vscode/
*.iml

# Node/Npm files
npm-debug.log*
node_modules/

# Build files & test artifacts
.nyc_output/
coverage/
dist/

# Local application files
config/marketbot.ini
data/typeIDs.yaml
data/*.png
data/*.json
data/*.txt
logs/

# System files
*.db
