# IDE files
.idea/
.vscode/
*.iml

# Node/Npm files
npm-debug.log*
node_modules/

# Build files & test artifacts
.nyc_output/
coverage/
dist/

# Local application files
config/token.txt
data/typeIDs.yaml
data/*.png
logs/

# System files
*.db
